
<div class="row" *ngIf="event">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title"> {{event.type == 1 ? 'Termet' : (event.type == 2 ? 'Zjarr' : 'Permbytje')}}
                <p class="category">{{event.city}}, {{event.country}}</p></h4>
                <p> {{event.description}} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4  ml-auto">
                  <div class="alert alert-info text-center" (click)="getSafetyZones()">
                    <h1>{{event.totalSafeZones}}</h1> <h5>pika te sigurta grumbullimi</h5>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="alert alert-info text-center" (click)="getShelters()">
                    <h1>{{event.totalShelters}}</h1> <h5>vend-strehime</h5>
                  </div>
                </div><div class="col-md-4">
                  <div class="alert alert-info text-center" (click)="getSupplies()">
                    <h1>{{event.totalSupplies}}</h1> <h5>pika ndihme/ushqimore</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4" (click)="addSafetyZoneToEvent()">
                  <button class="btn btn-success btn-block">Shto pike te re grumbullimi</button>
                </div>
                <div class="col-md-4" (click)="addShelterToEvent()">
                  <button class="btn btn-success btn-block">Shto vend te ri strehimi</button>
                </div>
                <div class="col-md-4" (click)="addSupplyToEvent()">
                  <button class="btn btn-success btn-block">Shto pike ndihme/ushqimore</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="showShelters || showSafetyZones">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" *ngIf="showShelters"> Lista e banesave ne dispozicion</h4>
        <h4 class="card-title" *ngIf="showSafetyZones"> Lista e zonave te sigurta</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Emri
              </th>
              <th>
                Qyteti, Shteti
              </th>
              <th>
                Adresa
              </th>
              <th class="width500">
                Pershkrimi
              </th>
              <th>
                Kapaciteti
              </th>
              <th>
                Kontaktet
              </th>
              <th class="text-right">
                Veprime
              </th>
            </thead>
            <tbody>
                <tr *ngFor="let shelter of shelters">
                  <td>
                    {{shelter.name}}
                  </td>
                  <td>
                    {{shelter.city}}, {{shelter.country}}
                  </td>
                  <td>
                    {{shelter.address}}
                  </td>
                  <td>
                      {{shelter.description}}
                  </td>
                  <td>
                      {{shelter.capacity}} persona
                  </td>
                  <td (click)="showShelterContacts(shelter.contactPersons, content)">
                    Shfaq
                  </td>
                  <td class="text-center">
                      <button class="btn btn-danger" (click)="removeShelter(shelter, contentDeleteConfirmationShelter)"><i class="fa fa-close"></i></button>
                      <button class="btn btn-info" (click)="updateShelter(shelter)"><i class="fa fa-pencil"></i></button>
                  </td>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="showSupplies">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Lista e vendeve ku grumbullohen/shperndahen ndihma</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Emri
              </th>
              <th>
                Qyteti, Shteti
              </th>
              <th>
                Adresa
              </th>
              <th class="width500">
                Pershkrimi
              </th>
              <th>
                Statusi
              </th>
              <th>
                Kontaktet
              </th>
              <th class="text-right">
                Veprimet
              </th>
            </thead>
            <tbody>
                <tr *ngFor="let supply of supplies">
                  <td>
                    {{supply.name}}
                  </td>
                  <td>
                    {{supply.city}}, {{supply.country}}
                  </td>
                  <td>
                    {{supply.address}}
                  </td>
                  <td>
                    {{supply.description}}
                  </td>
                  <td>
                    {{supply.status == 1 ? 'Hapur' : 'Mbyllur'}}
                  </td>
                  <td (click)="showShelterContacts(supply.contactPersons, content)">
                    <a>Shfaq</a> 
                  </td>
                  <td class="text-center">
                      <button class="btn btn-danger" (click)="removeSupply(supply, contentDeleteConfirmationSupply)"><i class="fa fa-close"></i></button>
                      <button class="btn btn-info" (click)="updateSupply(supply)"><i class="fa fa-pencil"></i></button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!showSupplies && !showShelters">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        Ku ka ndodhur emergjenca?
      </div>
      <div class="card-body ">
        <div id="map" class="map">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Personat e kontaktit</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li *ngFor="let person of contactPersons">
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img alt="Circle Image" class="img-circle img-no-padding img-responsive" src="assets/img/person-icon.png">
                </div>
              </div>
              <div class="col-md-4 col-4"> {{person.firstName}} {{person.lastName}} <br><span class="text-muted"><small>{{person.phone}}</small></span></div>
              <div class="col-md-6 col-6">
                {{person.email}}
              </div>
            </div>
          </li>
          </ul>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #contentDeleteConfirmationSupply let-modal>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Jeni te sigurt per veprimin?</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-12 col-12"> {{supply.name}}<br>
                <span class="text-muted">
                <small>{{supply.city}}, {{supply.country}}</small></span>
              </div>
              <br>
              <hr>
              <div class="col-md-12 col-12">
                <p>{{supply.description}}</p>
              </div>
            </div>
          </li>
          </ul>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(false)">Anullo</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close(true)">Konfirmo</button>
    </div>
</ng-template>

<ng-template #contentDeleteConfirmationShelter let-modal>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Jeni te sigurt per veprimin?</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled team-members">
        <li>
          <div class="row">
            <div class="col-md-12 col-12"> {{shelter.name}}<br>
              <span class="text-muted">
              <small>{{shelter.city}}, {{shelter.country}}</small></span>
            </div>
            <br>
            <hr>
            <div class="col-md-12 col-12">
              <p>{{shelter.description}}</p>
            </div>
          </div>
        </li>
        </ul>
      </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(false)">Anullo</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close(true)">Konfirmo</button>
  </div>
</ng-template>

<disqus [identifier]="eventId" ></disqus>