<div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Shto nje vend strehimi ose nje pike te sigurte ku mund te qendrohet perkohesisht</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="shelterForm" (ngSubmit)="onSubmit(shelterForm)">
          <div class="row">
            <div class="col-md-3 col-lg-3 pr-1">
              <div class="form-group">
                <label>Emri i strehes</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Emer hoteli, emer personi...">
              </div>
            </div>
            <div class="col-md-3 col-lg-3 pr-1">
              <div class="form-group">
                <label>Qyteti</label>
                <input type="text" class="form-control" formControlName="city"  placeholder="Emri i qytetit  ku ndodhet streha">
              </div>
            </div>
            <div class="col-md-3 col-lg-3 pl-1">
              <div class="form-group">
                <label>Shteti</label>
                <input type="text" class="form-control" formControlName="country" placeholder="Emri i shtetit ku ndodhet streha">
              </div>
            </div>
            <div class="col-md-3 col-lg-3 pl-1">
                <div class="form-group">
                  <label>Kapaciteti i strehes</label>
                  <input type="number" class="form-control" formControlName="capacity" placeholder="Numri i personave qe kjo strehe mund te mbaje">
                </div>
              </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Adresa ku ndodhet streha</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Adresa e shtepise/hotelit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Pershkrim</label>
                <textarea class="form-control textarea" formControlName="description" placeholder="Nje pershkrim me i detajuar i adreses (perballe dyqanit x, etj..)"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h4>Shtoni te gjithe personat qe mund te sherbejne si pika kontakti</h4> <br>
                <a class="btn btn-success" (click)="addNewContact()">Shto te ri</a>
              </div>
            </div>
          </div>
           <div *ngFor="let item of shelterForm.get('contactPersons').controls; let i = index;" class="row" formArrayName="contactPersons" >
              <div class="col" style="max-width:10px;" [formGroupName]="i">
                  <div class="form-group">
                      <label>Nr#</label>
                    <label  disabled class="form-control" >{{i + 1}}</label>
                  </div>
                </div>
            <div class="col" [formGroupName]="i">
                  <div class="form-group">
                      <label>Emer</label>
                    <input type="text" class="form-control" formControlName="firstName" >
                  </div>
                </div>
                <div class="col" [formGroupName]="i">
                  <div class="form-group">
                      <label>Mbiemer</label>
                    <input type="text" class="form-control" formControlName="lastName" >
                  </div>
                </div>
                <div class="col" [formGroupName]="i">
                  <div class="form-group">
                      <label>Nr. Telefoni</label>
                    <input type="phone" class="form-control" formControlName="phone" >
                  </div>
                </div>
                <div class="col" [formGroupName]="i">
                  <div class="form-group">
                      <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" >
                  </div>
                </div>
                <div class="col-md-1" [formGroupName]="i">
                    <div class="form-group">
                        <label>#</label>
                      <button class="form-control" [disabled]="shelterForm.get('contactPersons').length<=1" (click)="removeContact(i)"><i class="fa fa-close text-danger"></i></button>
                    </div>
                  </div>
           </div>
        
  <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="card ">
                <div class="card-header">
                  <h4>Ku ndodhet streha?</h4>
                </div>
                <div class="card-body ">
                  <div id="map" class="map">
                    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <span *ngIf="shelterForm.invalid" class="text-danger">Ju duhet te plotesoni te gjitha fushat per te shtuar nje strehe</span>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
                <button type="submit" [disabled]="shelterForm.invalid" class="btn btn-primary btn-round">Shto strehe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

