
<div class="row">
    <div class="col-md-12">
      <h4 class="card-title"> List a emergjencave</h4>
    </div>
    <div class="col-md-6" *ngFor="let event of events" (click)="details(event.id)">
      <div class="card card-user">
        <div class="image">
        </div>
        <div class="card-body">
          <div class="author">
              <img class="avatar border-gray" src="assets/img/earth-quake.png" *ngIf="event.type == 1 ">
              <img class="avatar border-gray" src="assets/img/fire.png" *ngIf="event.type == 2 ">
              <img class="avatar border-gray" src="assets/img/flood.png" *ngIf="event.type == 3 ">
              <h5 class="title">{{event.type == 1 ? 'Termet' : (event.type == 2 ? 'Zjarr' : 'Permbytje')}}</h5>
            <p class="description">
                {{event.city}}, {{event.country}}
            </p>
          </div>
          <p class="description text-center">
            {{event.description}}
          </p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-4 ml-auto mr-auto">
                  <h5>{{event.time | date: 'dd/MM/yyyy'}}</h5>
              </div>
              <div class="col-lg-8 col-md-8 col-8">
                  <h5>{{event.verified ? 'Verifikuar' : 'Pa-verifikuar'}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  