<div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Shto vend furnizimi/ndihmesa</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="supplyForm" (ngSubmit)="onSubmit(supplyForm)">
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Emri i vend grumbullimit te ndihmave</label>
                <input type="text" class="form-control" placeholder="Shkolla X, Stadiumi Y....>">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Qyteti</label>
                <input type="text" class="form-control"  placeholder="Emri i qytetit">
              </div>
            </div>

            <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Shteti</label>
                  <input type="text" class="form-control"  placeholder="Emri i shtetit">
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Adresa</label>
                <input type="text" class="form-control" placeholder="Adresa e shtepise/hotelit">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Pershkrimi</label>
                <textarea class="form-control textarea" placeholder="Jeni detaje te tjera rreth vendit..."></textarea>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header ">
                    Ku ndodhet ky vend ne harte?
                  </div>
                  <div class="card-body ">
                    <div id="map" class="map">
                      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="addSupply()">Shto vend ndihmesash</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

